/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:#bde0fe;
}
#main-content {
    width:80%;
    margin:auto;
}
#main-header {
    background:#ffafcc;
}

#content {

}

#sidebar {
    background:lightcoral;
}

#main-footer {

}

/*Header*/
#logo {
    margin:10px;
    
}

/* Gallery */
#gallery section{
    background:lightgray;
    padding:5px;
    border-radius:5px;
    margin:5px;
}

#gallery section h3 {
    text-align: center;
}

/* List */
.item {
    margin:5px;
    background:#cdb4db;
}

.item img {
    display:block;
    margin:auto;
}

/* Square */
#square {
    width:100px;
    height:100px;
    background:lightsalmon;

    position:absolute;
    top:0px;
    left:0px;
}

.arrow {
    font-size:1.5em;
    color:white;
    position:absolute;
    top:32%;
}

#prev {
    left:5%;
}

#next {
    right:5%;
}

#slide-desc {
    position:absolute;
    bottom:10%;
    left:5%;
    background:rgba(255,255,255, 0.8);
    padding:5px;
    max-width:40%;
}

/* Area */
.area {
    position:relative;
    background:#cdb4db;
}
/* Navigation */

#main-nav ul {
    padding-left:0;     /*Remove indentation*/
}

#main-nav li {
    list-style-type: none; /*Remove bullet points*/ 
    background:#ffc8dd;
    padding:5px;
    border-bottom:1px solid #cdb4db;;
}

#main-nav a {
    text-decoration: none; /*Remove underline*/
}

/* Typography */

#main-header h1 {
    text-align: center;
    padding-top:10px;
}

/* Larger Devices */
@media (min-width: 768px) {
    .columns {
        display: flex;
    }
    #content {
        justify-content:space-between;
        gap:1em;
    }

    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }
    .four {
        flex:4;
    }
    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        background:transparent;
    }

    #main-nav a {
        color:darkslateblue;
        border-bottom:1px solid transparent;
    }

    #main-nav a:hover {
        border-bottom:1px solid darkslateblue;
    }
}