
body{
    background:lightcyan;
    margin:0;
    text-align:center;
}

h1{
    color:blue;
    margin:25px 0 0;
    font-size:48px;
}

h2{
    color:blue;
    font-size:36px;
}

.gallery{
    margin:auto;
    display:flex;
    width:90%;
    gap:24px;
    justify-content:space-between;
    flex-wrap:nowrap;
}

.card{
    background:white;
    width:340px;
    border-radius:14px;
    overflow:hidden;
    cursor: pointer;
}

.card-header{
    background:blue;
    color:lightcyan;
    padding:18px 10px;
}

.card-header h3{
    margin:0;
    font-size:28px;
    font-weight:500;
}

.card-header p{
    margin:8px;
    font-size:16px;
    opacity:0.95;
}

.card img{
    width:100%;
    height:360px;
    object-fit:cover;
    display:block;
}

.modal-box{
    max-width:980px;
    border-radius:8px;
    overflow:hidden;
    position:relative;
}

.x{
    color:blue;
    position:absolute;
    top:10px;
    right:16px;
    font-size:28px;
    z-index:2;
    cursor:pointer;
}

#youtube{
    background:black;
    width:100%;
    height:360px;
    display:block;
}

.modal-grid{
    display:grid;
    grid-template-columns: 560px 1fr;
}

.info{
    color:blue;
    background:lightcyan;
    text-align:left;
    padding:24px;
}

.info h3{
    margin:0 0 10px;
    font-size:28px;
    font-weight:500;
}

.by{
    margin:0 0 18px;
    font-size:18px;
}

.info p{
    margin:18px 0;
    font-size:18px;
}

@media (max-width: 950px){
    .gallery{
        flex-wrap:wrap;
        justify-content:center;
    }

    .card{
        width:90%;
        max-width:400px;
    }
    
}